<!-- <link rel="stylesheet" href="/css/generalKnowledge.css" /> -->
<!-- <script src="/js/generalKnowledge.js"></script> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Quick General Quiz</title>

    <link rel="stylesheet" href="/css/generalKnowledge.css" />
    <link rel="stylesheet" href="/css/nameDisplay.css" />
  </head>

  <body>
    <main class="container">
      <div id="home" class="flex-center flex-column">
        <h1>Hello <span id="userName">Guest</span></h1>

        <h1 style="text-align: center">Javascript Quiz</h1>
        <a class="btn" href="/game">Play</a>
        <a class="btn" href="/stuDashboard">Exit</a>
      </div>
    </main>

    <script src="/js/nameDisplay.js"></script>
  </body>
</html>
