<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Education.com | #1 Educational Site for Pre-K to 8th Grade</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/landingHomepage.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="/css/normalize&hamburger.css"
    />
  </head>
  <header>
    <div class="header">
      <nav class="nav">
        <a href="#default" class="logo">CodeQuest</a>
        <div class="header-right">
          <a class="active" href="/home">Login</a>
          <!-- <a href="#contact">Contact</a> -->
          <!-- <a href="#about">About</a> -->
        </div>
      </nav>
    </div>
  </header>
  <body>
    <main id="content">
      <div>
        <div>
          <div class="bts-hero-section">
            <div class="page-width">
              <h1>Discover a limitless world of learning</h1>
              <div class="section-text">
                Boost learning with our four interactive children's games. Fun
                and educational opportunities await! Start exploring today and
                watch your child thrive.
              </div>
              <a class="btn btn-primary btn-lg react-signup" href="/home"
                >Join for free</a
              >
            </div>
          </div>

          <div class="carousel-section homepage-section">
            <div class="carousel-top">
              <div class="airplane">
                <img src="/public/assets/image/airplane.svg" />
              </div>
              <div class="textAndButton">
                <h2>Our Learning Games</h2>
                <div class="highlight">
                  Explore four exciting educational games designed to enhance
                  learning and make fun a part of every lesson!
                </div>

                <a class="btn btn-primary btn-lg" href="/home">Dive right in</a>
              </div>
              <div class="spacer"></div>
            </div>
            <div class="content-types page-width">
              <div class="content-type">
                <div class="content-header">
                  <img src="/public/assets/image/lessonPlans.svg" />
                  <div class="title">Math Quiz</div>
                </div>
                <div class="content-description">
                  Sharpen math skills with our multiple-choice math questions.
                  Perfect for practicing addition, subtraction, multiplication,
                  and more!
                </div>
                <div class="buttonContainer">
                  <div class="spacer"></div>

                  <div class="spacer"></div>
                </div>
              </div>
              <div class="content-type">
                <div class="content-header">
                  <img src="/public/assets/image/worksheets.svg" />
                  <div class="title">General Knowledge Quiz</div>
                </div>
                <div class="content-description">
                  Test your child's general knowledge with fun and engaging
                  multiple-choice questions on a variety of topics.
                </div>
                <div class="buttonContainer">
                  <div class="spacer"></div>

                  <div class="spacer"></div>
                </div>
              </div>
            </div>
            <div class="content-types page-width">
              <div class="content-type">
                <div class="content-header">
                  <img src="/public/assets/image/games.svg" />
                  <div class="title">Animal Identification</div>
                </div>
                <div class="content-description">
                  Learn about animals by matching their names to the correct
                  images. A fun way to enhance visual recognition skills.
                </div>
                <div class="buttonContainer">
                  <div class="spacer"></div>

                  <div class="spacer"></div>
                </div>
              </div>
              <div class="content-type">
                <div class="content-header">
                  <img src="/public/assets/image/activities.svg" />
                  <div class="title">Guess the Animal</div>
                </div>
                <div class="content-description">
                  Challenge your child's vocabulary and memory by guessing the
                  missing word in animal names and images. Fun and educational!
                </div>
                <div class="buttonContainer">
                  <div class="spacer"></div>

                  <div class="spacer"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="premium-section">
            <div class="page-width">
              <h2>Unlock every student's true potential</h2>
              <div class="highlight subtitle">
                A premium membership gives you unlimited access to all our
                educational games, progress tracking, and personalized insights
                to help each child thrive!
              </div>
              <div class="premium-info">
                <div class="spacer"></div>
                <div class="premium-description">
                  <img
                    class="premimum-full small"
                    src="/public/assets/image/GuidedLessons.png"
                  />
                  <div class="progressTracker">
                    <h4>Interactive Games</h4>
                    <div class="highlight">
                      Enjoy expertly-designed games that make learning fun and
                      interactive, covering math, general knowledge, animal
                      recognition, and more!
                    </div>
                  </div>
                  <img
                    class="premimum-full large"
                    src="/public/assets/image/PremiumContent.png"
                  />
                  <img
                    class="premimum-full small"
                    src="/public/assets/image/IndividualLearners.png"
                  />
                  <div class="guidedLessons">
                    <h4>Personalized Learning</h4>
                    <div class="highlight">
                      Create customized assignments for individual learners or
                      groups, with insights to celebrate each child's progress
                      and milestones.
                    </div>
                  </div>
                </div>
                <div class="spacer"></div>
              </div>
            </div>
          </div>

          <div class="quotes-section section">
            <h2>Join the CodeQuest community!</h2>
            <ul class="mascotList">
              <li>
                <img
                  class="social mascot Floyd"
                  src="/public/assets/image/Floyd.png"
                />
                <div class="bullet">
                  <div class="spacer"></div>
                  <div class="bulletInfo">
                    <span>New and innovative</span> educational games for kids
                  </div>
                  <div class="spacer"></div>
                </div>
              </li>
              <li>
                <img
                  class="social mascot"
                  src="/public/assets/image/IceCream.png"
                />
                <div class="bullet">
                  <div class="spacer"></div>
                  <div class="bulletInfo">
                    Creating a buzz in <span>schools</span> and homes
                  </div>
                  <div class="spacer"></div>
                </div>
              </li>
              <li>
                <img
                  class="social mascot Tutu"
                  src="/public/assets/image/TuTu.png"
                />
                <div class="bullet">
                  <div class="spacer"></div>
                  <div class="bulletInfo">
                    Engaging <span>educational games</span> for children
                  </div>
                  <div class="spacer"></div>
                </div>
              </li>
            </ul>
            <div class="quotes-collection">
              <div class="quotes">
                <div class="quote">
                  <div class="single-quote-container quote-triangle left">
                    <div class="quote-message">
                      <span
                        >CodeQuest's games make learning fun and engaging for my
                        kids. The variety keeps them interested and excited
                        about their progress!</span
                      >
                    </div>
                  </div>
                  <div class="quote-description">
                    <div class="quote-right">
                      <div class="quote-from"><b>Jabardast S.</b>,</div>
                      <div class="quote-attribute">
                        Founder and CodeQuest user
                      </div>
                      <div class="quote-attribute">&nbsp;</div>
                    </div>
                  </div>
                </div>
                <div class="quote adjust">
                  <div class="single-quote-container quote-triangle right">
                    <div class="quote-message">
                      <span
                        >CodeQuest offers a fantastic range of educational games
                        that are both entertaining and educational. My students
                        love the interactive approach!</span
                      >
                    </div>
                  </div>
                  <div class="quote-description left">
                    <div class="quote-left">
                      <div class="quote-from"><b>J. K.</b></div>
                      <div class="quote-attribute">User</div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="school-solutions-container section">
            <div class="page-width">
              <div class="group left">
                <img
                  alt="school"
                  src="/public/assets/image/school-group-narrow.svg"
                />
              </div>
              <div class="center">
                <h2>CodeQuest for Schools and Districts</h2>
                <div class="highlight schooltitle">
                  Our engaging, interactive games are designed to support
                  teachers and administrators in enhancing students' skills in
                  math and general knowledge. Empower your students with fun and
                  effective learning experiences.
                </div>
              </div>
              <div class="group right">
                <img
                  alt="school"
                  src="/public/assets/image/computer-group.svg"
                />
              </div>
            </div>
          </div>

          <div class="join section">
            <div class="page-width">
              <div class="buttonAndHeader">
                <h2>Get access today!</h2>
                <div class="button-container">
                  <a
                    class="btn btn-premium btn-lg react-signup"
                    href="/parentLogin"
                    >Join for free</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </main>
  </body>
</html>
